* {
  margin:0px;
  padding: 0px;
}
body {
  background-color: #F5F5F5;
}
header {
  margin: 0px auto;
  width:1155px;
  height: 140px;
  background-color:#F5F5F5;
}
li {
  display: inline-block;
}
.slicemaker {
  margin-left: 1px;
}
.home {
  margin-right:13.5px;
  margin-left:13.5px;
}
.logo {
  margin-right: 13.5px;
}
.parent1 {
  width:1155px;
  height: 393px;
  background-color:white;
  margin: 20px auto;
}
.new {
  display: none;
}
.picture {
  position: relative;
  width: 754.3px;
  height: 393px;
  background-color: white;
  float: left;
  background-size: contain;
}
.button_left {
  position:absolute;
  left:0px;
  top:50%;
  transform:translateY(-50%);
  width:40px;
  height:40px;
}
.button_right {
  position:absolute;
  right:0px;
  top:50%;
  transform:translateY(-50%);
  width:40px;
  height:40px;
}
.w3-black, .w3-hover-black:hover {
  color: #fff!important;
  background-color: #000!important;
}
.picture1 {
  width:390px;
  height: 393px;
  background-color:white;
  float: right;
  align-items: center;
}
.picture2 {
  width:344px;
  height: 374px;
  background-color:white;
  margin: 0px auto;
  padding:10px;
  float: left;
  margin-left: 16px;
}
.slicemaker {
  font-family:sans-serif;
  color:#FF6600;
  margin-top:11px;
  font-size: 28px;
  font-weight: bolder;
}
.empty {
  color:#0099CC;
  font-family:sans-serif;
  font-size:20px;
  font-weight:500;
  margin-top: 23px;
}
.template {
  color:#009999;
  font-size: 13px;
  line-height: 19px;
  font-family:sans-serif;
  font-weight: 500px;
  margin-top: 17px;
}
.read {
  width:80px;
  background-color:#1e8bc3;
  color: white;
  margin: 0px auto;
  padding:12px 21px 12px 22px;;
  float: left;
  cursor: pointer;
  margin-top: 14px;
}
.R1 {
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}
.parent2 {
  width:1155px;
  height: 350px;
  background-color:#F5F5F5;
  margin-bottom: 40px;
  margin: auto;
  margin-top:30px;
}
.green {
  width:360px;
  height: 360px;
  background-color: #35bc7a;
  float: left;
  margin: 0px auto;
  margin-right: 37px;
  position: relative;
}
.green1 {
  width:300px;
  height: 300px;
  background-color:#35bc7a;
  padding:14px;
  margin: 0px auto;
  margin-top: 10px;
}
.creative {
  width: 76px;
  height: 57px;
  margin: 0px auto;
  margin-left:5px;
  margin-top:5px;
}
.creative_solution {
  color: white;
  font-family:sans-serif;
  font-size: 25px;
  font-weight:600;
  margin-right:36px;
  margin-top: 30px;
}
.slice_product {
  color: white;
  font-family: sans-serif;
  font-size: 12.5px;
  line-height: 22px;
  margin-right: 45px;
  margin-top: 15px;
}
.arrow1 {
  width: 45px;
  height: 45px;
  float: right;
  margin-top: 10px;
  cursor: pointer;
}
.orange {
  width:360px;
  height: 360px;
  background-color: #f86924;
  float: left;
  font-family:monospace;
  margin-right: 37px;
}
.orange1 {
  width:300px;
  height: 300px;
  background-color: #f86924;
  padding:14px;
  margin: 0px auto;
  margin-top: 12px;
  color: white;
}
.easy {
  width: 76px;
  height: 57px;
  margin: 0px auto;
  margin-left: 3px;
  margin-top: 3px;
}
.fast {
  color: white;
  font-family:sans-serif;
  font-size: 25px;
  margin-top: 30px;
  font-weight:600;
}
.web_design {
  color: white;
  font-family: sans-serif;
  font-size: 12.5px;
  line-height: 22px;
  margin-top: 15px;
}
.arrow2 {
  width: 45px;
  height: 45px;
  float: right;
  margin-top: -10px;
  cursor: pointer;
}
.yellow {
  width:360px;
  height: 360px;
  background-color: #FF9900;
  float: left;
}
.yellow1 {
  width:300px;
  height: 300px;
  background-color:#FF9900;
  padding:14px;
  margin: 0px auto;
  margin-top: 12px;
  color: white;
}
.technical {
  width: 76px;
  height: 57px;
  margin: 0px auto;
  margin-left: 5px;
  margin-top: 5px;
}
.tech_support {
  color: white;
  font-family:sans-serif;
  font-size: 25px;
  margin-top: 30px;
  font-weight:600;
}
.customer {
  color: white;
  font-family: sans-serif;
  font-size: 12.5px;
  line-height: 22px;
  margin-top: 15px;
}
.arrow3 {
  width: 45px;
  height: 45px;
  float: right;
  margin-top:-15px;
  cursor: pointer;
}
.parent3 {
  width:1155px;
  height: 330px;
  background-color:white;
  margin: 0px auto;
  margin-top: 40px;
}
.tutorial {
  width: 1000px;
  height: 23px;
  color: #006699;
  font-size: 23px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 16px;
  padding: 34px 0 20px 0;
}
.orange_container1 {
  width: 264px;
  height: 230px;
  background-color:#fe9f00;
  float:left;
  margin-left: 19px;
  color: white;
  font-family:cursive;
  font-size: 15px;
  margin-top: 10px;
}
.sub_container1 {
  width:210px;
  height:200px;
  background-color:#fe9f00;
  padding: 10px;
  margin: 0px auto;
  margin-top: 10px;
}
.hover {
  color:white;
  font-family:sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}
.change_img {
  color: white;
  font-size: 11.6px;
  font-family:sans-serif;
  line-height: 18px;
  margin-top: 20px;
}
.read_more1 {
  width: 80px;
  background-color:#b06d00;
  color:white;
  margin-top:16px;
  font-size: 12px;
  padding: 7px 0px 7px 16px;
  font-family: sans-serif;
  cursor: pointer;
}
.orange_container2 {
  width: 264px;
  height: 230px;
  background-color:#fe9f00;
  float: left;
  margin-left: 19px;
  margin-top: 10px;
}
.sub_container2 {
  width:210px;
  height:200px;
  background-color:#fe9f00;
  padding: 10px;
  margin: 0px auto;
  margin-top: 10px;
}
.back_on_hover {
  color:white;
  font-family:sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}
.change_back {
  color: white;
  font-size: 11.6px;
  font-family:sans-serif;
  line-height: 18px;
  margin-top: 20px;
}
.read_more2 {
  width: 80px;
  margin-top:32px;
  background-color:#b06d00;
  color:white;
  font-size: 12px;
  padding: 7px 0px 7px 16px;
  font-family: sans-serif;
  cursor: pointer;
}
.orange_container3 {
  width: 264px;
  height: 230px;
  background-color:#fe9f00;
  float: left;
  margin-left: 19px;
  margin-top: 10px;
}
.sub_container3 {
  width:210px;
  height:200px;
  background-color:#fe9f00;
  padding: 10px;
  margin: 0px auto;
  margin-top: 10px;
}
.show_div {
  color:white;
  font-family:sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}
.show_hide_div {
  color: white;
  font-size: 11.6px;
  font-family:sans-serif;
  line-height: 18px;
  margin-top: 20px;
}
.read_more3 {
  width: 80px;
  background-color:#b06d00;
  color:white;
  font-size: 12px;
  padding: 7px 0 7px 16px;
  font-family: sans-serif;
  margin-top:33px;
  cursor: pointer
}
.orange_container4 {
  width: 264px;
  height: 230px;
  background-color:#fe9f00;
  float: left;
  margin-left: 19px;
  margin-right: 19px;
  margin-top:8px;
}
.sub_container4 {
  width:210px;
  height:200px;
  background-color:#fe9f00;
  padding: 10px;
  margin: 0px auto;
  margin-top: 10px;
}
.tabbed_content {
  color:white;
  font-family:sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}
.create_tabbed {
  color: white;
  font-size: 11.6px;
  font-family:sans-serif;
  line-height: 18px;
  margin-top: 20px;
  }
.read_more4 {
  width: 80px;
  background-color:#b06d00;
  color:white;
  font-size: 12px;
  padding: 7px 0 7px 16px;
  font-family: sans-serif;
  margin-top: 16px;
  cursor: pointer;
}
.parent4 {
  width: 1155px;
  height: 350px;
  background-color:white;
  margin: 0px auto;
  margin-top: 30px;
}
.parent4_sub1 {
  width:400px;
  height:350px;
  background-color:white;
  float: left;
}
.image_div {
  width:300px;
  height:320px;
  background-color:white;
  margin: 0px auto;
  margin-top:30px;
}
.parent4_sub2 {
  width:755px;
  height:350px;
  background-color:white;
  float:right;
}
.content_div {
  width:600px;
  height: 40px;
  background-color:white;
  padding:28px;
  margin-top: 10px;
}
.content_div1 {
  color: #660033;
  font-size: 21px;
  font-family:sans-serif;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 25px;
}
.parent4_sub3 {
  width:730px;
  height:190px;
  background-color:white;
  padding:10px;
  margin: 0px auto;
  margin-top: 20px;
  margin-left: -26px;
}
.sub3_container {
  width: 360px;
  height: 160px;
  font-family: monospace;
  float: left;
  background-color:white;
  margin-top: 27px;
}
.downld {
  width:50px;
  height: 50px;
  background-color: white;
  float: left;
  cursor: pointer;
}
.free_downld {
  width:310px;
  height: 50px;
  float: right;
  background-color: white;
}
.downld_content {
  color:#0099CC;
  font-family: sans-serif;
  font-size: 12.5px;
  margin-top: 5px;
  line-height: 17px;
}
.flag {
  width:50px;
  height: 50px;
  background-color: white;
  float: left;
  margin-top: 45px;
  cursor: pointer;
}
.flag1 {
  width:310px;
  height: 50px;
  float: right;
  background-color: white;
  margin-top: 45px;
}
.flag2 {
  color:#0099CC;
  font-family: sans-serif;
  font-size: 12.5px;
  margin-top: 5px;
  line-height: 17px;
  margin-top:
}
.sub3_container1 {
  width: 360px;
  height: 160px;
  font-family: monospace;
  float:right;
  background-color:white;
  margin-top: 28px;
}
.tube {
  width:50px;
  height: 50px;
  background-color: white;
  float: left;
  cursor: pointer;
}
.tube1 {
  width:310px;
  height: 50px;
  float: right;
  background-color: white;
}
.tube2 {
  color:#0099CC;
  font-family: sans-serif;
  font-size: 12.5px;
  margin-top: 5px;
  line-height: 17px;
}
.bulb {
  width:50px;
  height: 50px;
  background-color: white;
  float: left;
  margin-top: 45px;
  cursor: pointer;
}
.bulb1 {
  width:310px;
  height: 50px;
  float: right;
  background-color: white;
  margin-top: 45px;
}
.bulb2 {
  color:#0099CC;
  font-family: sans-serif;
  font-size: 12.5px;
  margin-top: 5px;
  line-height: 17px;
  margin-top:
}
.parent5 {
  width: 100%;
  height: 330px;
  background-color:#3c474d;
  margin-top: 30px;
}
.parent5_sub {
  width:1155px;
  height:350px;
  margin: 0px auto;
}
.about {
  width:240px;
  height: 230px;
  margin-top: 30px;
  background-color:#3c474d;
  float: left;
}
.about1 {
  width:250px;
  height: 150px;
  background-color:#3c474d;
  margin: 0px auto;
  margin-top: 35px;
  font-family: sans-serif
}
.about2 {
  color: white;
  font-size: 18px;
  font-weight: bold
}
.about3 {
  color: white;
  font-size: 13px;
  line-height: 19px;
  line-height: 23px;
  margin-top: 15px;
}
.glossary {
  width:240px;
  height: 280px;
  background-color:#3c474d;
  float: left;
  margin-left: 49px;
  font-family: sans-serif;
}
.glossary1 {
  width:270px;
  height: 150px;
  color:white;
  background-color:#3c474d;
  margin: 0px auto;
  margin-top: 50px
}
.glossary2 {
  width:150px;
  height: 50px;
  color: white;
  background-color:#3c474d;
  font-size: 16px;
}
.gloss{
  font-family: serif;
  font-size: 20px;
}
.glossary3 {
  margin-top: 15px;
}
.sub_glossary1 {
  width:270px;
  height: 50px;
  background-color:#3c474d;
  color: white;
}
.bibend {
  width:40px;
  color: white;
  background-color:#1e8bc3;
  margin: 0px auto;
  padding:7px 12px 7px 16px;;
  float: left;
  cursor: pointer;
  font-size: 14px;
}
.iBibendum {
  width:60px;
  color: white;
  background-color: #1e8bc3;
  margin: 0px auto;
  padding:7px 12px 7px 16px;;
  float: left;
  margin-left: 7px;
  font-size: 14px;
  cursor: pointer;
}
.Curibitar {
  width:60px;
  color: white;
  background-color:#1e8bc3;
  margin: 0px auto;
  padding:7px 12px 7px 16px;;
  float: left;
  font-size: 14px;
  margin-left: 7px;
  cursor: pointer;
}
.sub_glossary2 {
  width:270px;
  height: 50px;
  background-color:#3c474d;
  color: white;
}
.Loemipis {
  width:60px;
  color: white;
  background-color: #1e8bc3;
  margin: 0px auto;
  padding:7px 12px 7px 16px;
  float: left;
  margin-top: -12px;
  cursor: pointer;
  font-size: 14px;
}
.Lorem {
  width:40px;
  color: white;
  background-color:#1e8bc3;
  margin: 0px auto;
  padding:8px 18px 6px 18px;
  float: left;
  margin-left: 7px;
  font-size: 14px;
  margin-top: -12px;
  cursor: pointer;
}
.massa {
  width:30px;
  color: white;
  background-color:#1e8bc3;
  margin: 0px auto;
  padding:8px 18px 6px 16px;
  float: left;
  font-size: 14px;
  margin-left: 7px;
  margin-top: -12px;
  cursor: pointer;
}
.sub_glossary3 {
  width:270px;
  height: 50px;
  background-color:#3c474d;
  color: white;
}
.neque {
  width:40px;
  color: white;
  background-color: #1e8bc3;
  margin: 0px auto;
  padding:7px 12px 7px 16px;
  float: left;
  margin-top: -24px;
  font-size: 14px;
  cursor: pointer;
}
.rem {
  width:20px;
  color: white;
  background-color: #1e8bc3;
  margin: 0px auto;
  padding:6px 20px 7px 20px;
  float: left;
  margin-left: 7px;
  font-size: 14px;
  margin-top: -24px;
  cursor: pointer;
}
.tellus {
  width:30px;
  color: white;
  background-color: #1e8bc3;
  margin: 0px auto;
  padding:7px 18px 7px 15px;
  float: left;
  font-size: 14px;
  margin-left: 7px;
  margin-top: -24px;
  cursor: pointer;
}
.news {
  width:235px;
  height: 280px;
  background-color:#3c474d;
  float: left;
  margin-left: 83px;
}
.news1 {
  width:200px;
  height: 200px;
  color: white;
  background-color:#3c474d;
  margin: 0px auto;
  margin-top:50px;
  font-family: sans-serif;
}
.news2 {
  color: white;
  font-size: 18px;
  font-weight: bold
}
.new1 {
  font-family: serif;
  font-size: 20px;
  color: white;
}
.arw1 {
  width:150px;
  height: 40px;
  background-color:#3c474d;
  cursor: pointer;
  margin-top: 15px;
}
.slicemkr1 {
  color: white;
  float: right;
  margin-top:3px;
  font-size: 16px;
}
.arw2 {
  width:150px;
  height: 40px;
  background-color:#3c474d;
  color: white;
  margin-right: 7px;
  cursor: pointer;
}
.slicemkr2 {
  color: white;
  font-size: 16px;
  float: right;
  margin-top:3px;
}
.arw3 {
  width:150px;
  height: 40px;
  background-color:#3c474d;
  color: white;
  cursor: pointer;
}
.slicemkr3 {
  color: white;
  font-size: 16px;
  float: right;
  margin-top:3px;
}
.contact_us {
  width:240px;
  height: 280px;
  background-color:#3c474d;
  float: right;
}
.contact_us1 {
  width: 250px;
  height: 220px;
  background-color:#3c474d;
  color: white;
  margin:0px auto;
  margin-top: 45px;
  font-size: 12px;
  line-height: 22px;
  font-family: sans-serif;
  line-height: 23px;
}
.cont {
  font-family: serif;
  font-size: 20px;
}
.us1 {
  margin-top: 20px;
}
footer {
  width:100%;
  height: 70px;
  margin: 0px auto;
  background-color:#282f33;
}
.parent6 {
  width:350px;
  margin: 0px auto;
  padding:25px 15px 19px 8px;
  color: white;
  font-size:14px;
  background-color:#282f33;
  overflow: hidden;
}
#move_btn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 23px;
  z-index: 99;
  cursor: pointer;
}
